.container{
    width: 80%;
    margin:  0 auto;
  }

body{
  background-image: url("imagini/background3.png");
  color: #001264;
  font-size: 20px;
}

a{
  color: rgb(0, 49, 245);
  text-decoration: none;
}

hr{
  border: none;
  height: 10px;
  width: 100%;
  background-color: #004d94;
}
    
#titlu{
  font-size: 60px; 
  text-align: center;
}

#introducere{
  
  text-align: center;
 }

 #algoritm{
 
  text-align: center;
 }

 #exemple{
  
  text-align: center;
 }

 #utilizare{
 
  text-align: center;
 }
 
 #denumire{
  font-size: 20px; 
  text-align: center;
  font-weight: bold;
 }

 #img:hover{
  transform: scale(1.2);
 }

 img{
  border: 5px solid #021a40;
 }